<head>
<script src="cloth.js"></script>

<script	id="vertex-shader-with-light" type="notjs">
	// an attribute will receive data from a buffer
	attribute vec3 a_position;
	attribute vec3 a_normal;
	
	varying vec3 v_normal;
	varying vec3 position;
	
	
	uniform mat4 mvp_matrix;
	uniform mat4 u_normalMatrix;

	void main() {
		gl_Position = mvp_matrix * vec4(a_position,1.0);
		position = vec3(mvp_matrix * vec4(a_position,1.0));
		v_normal = a_normal;
	}
</script>

<script	id="fragment-shader-with-light" type="notjs">
	precision mediump float;
	// an attribute will receive data from a buffer
	varying vec3 v_normal;
	varying vec3 position;

	uniform vec3 u_color;
	uniform vec3 u_direction;
	uniform vec3 u_cameraPosition;

	void main() {

		//Calculate the light and specular colors
		vec3 normal = normalize(v_normal);
		vec3 lightColor = vec3(0.2,0.2,0.2);
		vec3 pointPosition = vec3(4,14,10);
		// Calculate the visibility for the directional light
		lightColor = lightColor + max(-dot(u_direction, normal), 0.0) * vec3(0.6,0.6,0.6);

		// Calculate the visibility for the point light
		float d = distance(pointPosition, position);
		vec3 direction = normalize(position - pointPosition);

		float intensity = 1.0 / max(0.01 * d, 1.0);

		float lighting = intensity * max(-dot(direction, normal), 0.0);
		
		lightColor = lightColor + lighting * vec3(0.6,0.6,0.6);
		gl_FragColor = vec4(u_color,1.0) + vec4(lightColor, 1.0);
	}
</script>


<script	id="vertex-shader" type="notjs">
	// an attribute will receive data from a buffer
	attribute vec3 a_position;
	attribute vec3 a_color;
	
	varying vec3 color;
	
	uniform mat4 mvp_matrix;


	void main() {
		gl_Position = mvp_matrix * vec4(a_position,1.0);
		color = a_color;
	}

</script>
<script	id="fragment-shader" type="notjs">
	// fragment shaders don't have a default precision so we need
	// to pick one. mediump is a good default
	precision mediump float;
	varying vec3 color;

	void main() {
		// gl_FragColor is a special variable a fragment shader
		// is responsible for setting
		gl_FragColor = vec4(color,1);
	}

</script>
</head>
<body>
	<canvas id="glCanvas" width="600" height="400"></canvas>
	<br />
	<input type="checkbox" value="false" id="gravityToggler" onclick = "toggleGravity();">гравитация
	<br />
	Дополнительные функции:
	<br /> 
	<input type="number" value="0" id="positionToggleX" onclick = "togglePositionX();" style="width:100px;">
	<input type="number" value="5" id="positionToggleY" onclick = "togglePositionY();"style="width:100px;">
	<input type="number" value="4" id="positionToggleZ" onclick = "togglePositionZ();"style="width:100px;">
	координаты камеры
	<br /> 
	<input type="range" value="60" min="0" max="360" id="rotationPitch" onclick = "togglePitch();"> поворот камеры 1
	<input type="range" value="30" min="-90" max="90" id="rotationYaw" onclick = "toggleYaw();"> поворот камеры 2
	<br />	
	<input type="checkbox" id="trianglesToggle" onclick = "toggleFill();" checked>заливка ткани
</body>